.admin-summary-section-1-header{
    font-family: var(--ff-inter);
    font-weight: 500;
    font-size: 24px;
    color: rgba(22, 30, 84, 1);
}
.admin-summary-section-1-div{
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345.97px, 1fr));
  gap: 20px;
  max-width: 100%; 
  margin: 0 auto;
}


.admin-summary-event-wrapper-inner{
    padding: 28px 17px 28px 17px;
    height: 140px;
    border: 1px solid rgba(241, 242, 243, 1);
    border-radius: 10px;
    
}


@media(max-width:765px){
    .admin-summary-section-1-div{
        /* display: grid; */
        grid-template-columns:1fr;
    }

}
@media(min-width:766px) and (max-width:991px){
    .admin-summary-section-1-div{
        /* display: grid; */
        grid-template-columns:1fr;
    }

}