.employee-recent-activity-table-wrapper {
  font-family: var(--ff-inter);
  border: 1px solid rgba(241, 242, 243, 1);
  border-radius: 14px;
  overflow-x: visible;
}
.employee-recent-activity-table-container {
  padding: 28px 17px 28px 17px;
}
.employee-recent-activity-table-container > h1 {
  font-weight: 500;
  font-size: 25.57px;
  color: rgba(41, 41, 41, 1);
}
.employee-recent-activity-table-wrapper-head{
    font-size: 500px;
}
.employee-recent-activity-table-wrapper-h5{
    font-weight: 500;
    font-size: 20px;
}
.employee-recent-activity-table-body{
    color: rgba(41, 41, 41, 1);

}
.employee-recent-activity-table-body-check-box{
    zoom: 2;
    border: 1px solid rgb(12, 63, 193);
    background-color: green;
    border-radius: 8px;
}

.employee-recent-activity-table-title{
    font-weight: 500;
    font-size: 16px;
}

#employee-recent-activity-table-body-start{
    font-weight: 400;
    font-size: 16px;
}
.employee-recent-activity-table-ation-orange{
    background-color: rgba(255, 245, 227, 1);
    color: rgba(242, 155, 7, 1);
    border-radius: 50px;
    /* padding: 4px 16px 4px 16px; */
    text-align: center;
    width: 93px;
    height: 27px;
}

.employee-recent-activity-table-ation-green{
    background-color: rgba(229, 255, 247, 1);
    color: rgba(13, 128, 93, 1);
    border-radius: 50px;
    text-align: center;
    width: 115px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    
}
.employee-recent-activity-table-ation-blue{
    background-color: rgba(157, 210, 239, 0.26);
    color: rgba(19, 127, 242, 1);
    border-radius: 50px;
    text-align: center;
    width: 117px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    
}
.employee-recent-activity-table-pagination-wrapper , button{
    color: rgba(135, 135, 137, 1);
    font-size: 16px;
    font-weight: 400;
  }
  .employee-recent-activity-table-pagination-wrapper  button{
   border: none;
   width: 146px;
   height: 40px;
   border: 1px solid rgba(207, 207, 208, 1);
   border-radius: 4px;
  }
@media (min-width: 766px) and (max-width: 991px) {
    .employee-recent-activity-table{
      overflow-x: scroll;
      width: 430px;
      margin-left: 0;
    }
}
@media (min-width: 992px) and (max-width: 1280px) {
}