@font-face {
    font-family: neurial-grotesk;
    src: url("../fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}


.forgot-password-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 41px;
  width: 640px;
  height: 360.92px;
  /* height: 341.92px; */
  background-color: #fff;
  padding: 36px 48px 36px 48px;
  border-radius: 8px;
}

.forgot-password-inner img {
  max-width: 45.3pxx;
  max-height: 43.92px;
  border-radius: 10.98px;
}

.forgot-password-inner h1 {
  font-family: var(--ff-bricolage-grotesque);
  font-size: 27.03px;
  font-weight: 700;
}
.forgot-password-inner h3 {
  font-family: var(--ff-inter);
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.input {
  background-color: #f3f3f3;
}

.label{
    font-family: var(--ff-inter);
    font-weight: 500;
    font-size: 16px;
}

.forgot-password-btn{
      font-family: neurial-grotesk;
      background-color: var(--auth-bgrc);
      padding: 12px, 36px, 12px, 36px;
      width: 100%;
      height: 48px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
  }

@media (max-width: 767px) {
    .main-auth {
      background-image: none;
    }
    .forgot-password-inner  {
      border: 2px solid var(--auth-bgrc);
      width: 96%;
      height: 400px;
      padding: 32px 20px 32px 20px;
      border-radius: 8px;
      margin: 15px auto;
    }

  }
  
