.leave-board-section-1 h2{
     font-family: var(--ff-inter);
    font-weight: 500;
    font-size: 28px;
    color: rgba(22, 30, 84, 1);
}

.leave-board-section-1 h5 {
    font-family: var(--ff-inter);
    font-weight: 500;
    font-size: 20px;
    color: rgba(64, 64, 64, 1);
  }

  .leave-board-section-1-div{
    display: grid;
    grid-template-columns: 252.97px 252.97px 252.97px 252.97px;
    /* justify-content: space-between; */
    gap: 42px;
  }

  .leave-board-wrapper-inner {
    padding: 19px 17px 19px 17px;
    height: 138px;
    width: 252px;
    border: 1px solid rgba(241, 242, 243, 1);
    border-radius: 10px;
  } 

  .leave-board-wrapper-inner  h5 {
    color: rgba(47, 43, 43, 0.69);
    font-weight: 500;
    font-size: 16px;
    
  }

  .leave-board-wrapper-inner  h1 {
    color: rgba(30, 30, 30, 1);
    font-weight: 700;
    font-size: 50px;
    
  }
 

  @media (max-width: 765px) {
    .leave-board-wrapper-inner {
      border: 3px solid rgba(241, 242, 243, 1);
    }
    .leave-board-section-1-div {
      /* display: grid; */
      /* grid-template-columns:1fr; */
      grid-template-columns: 252.97px 252.97px 252.97px 252.97px;
      overflow-x: scroll;
      gap: 10px;
    }
  }
  @media (min-width: 766px) and (max-width: 991px) {
    .leave-board-wrapper-inner {
      border: 3px solid rgba(241, 242, 243, 1);
    }
    .leave-board-section-1-div {
      grid-template-columns: 300.97px 300.97px 300.97px 270.97px;
      overflow-x: scroll;
      width: 460px;
      margin-left: 0;
      justify-content: space-between;
      /* gap: 10px; */

      /* display: grid; */
      /* grid-template-columns:1fr; */
      /* grid-template-columns: 300.97px 300.97px 300.97px;
          overflow-x: scroll !important; */
    }
  }

  @media (min-width: 992px) and (max-width: 1280px) {
   
    .leave-board-section-1-div {
      /* grid-template-columns: 300.97px 300.97px 300.97px;
      overflow-x: scroll;
      width: 460px;
      margin-left: 0; */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      /* display: grid; */
      /* grid-template-columns:1fr; */
      /* grid-template-columns: 300.97px 300.97px 300.97px;
          overflow-x: scroll !important; */
    }
  }
  