.task-table-wrapper {
  font-family: var(--ff-inter);
  border: 1px solid rgba(241, 242, 243, 1);
  border-radius: 14px;
  overflow-x: visible;

}
.task-table-container {
  padding: 28px 17px 28px 17px;
}
.task-table-container > h1 {
  font-weight: 500;
  font-size: 25.57px;
  color: rgba(41, 41, 41, 1);
}
.task-table-wrapper-head{
    font-size: 500px;
}
.task-table-wrapper-h5{
    font-weight: 500;
    font-size: 20px;
}

.task-table-body-check-box{
    zoom: 2;
    border: 1px solid rgb(12, 63, 193);
    background-color: green;
    border-radius: 8px;
}

.task-table-title{
    font-weight: 500;
    font-size: 16px;
}

#task-table-body-start{
    font-weight: 400;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
}
#task-table-body-end{
    font-weight: 400;
    font-size: 16px;
    color: rgba(140, 140, 140, 1);
}

.task-table-ation-orange{
    background-color: rgba(255, 245, 227, 1);
    color: rgba(242, 155, 7, 1);
    border-radius: 50px;
    /* padding: 4px 16px 4px 16px; */
    text-align: center;
    width: 93px;
    height: 27px;
}

.task-table-ation-green{
    background-color: rgba(229, 255, 247, 1);
    color: rgba(13, 128, 93, 1);
    border-radius: 50px;
    text-align: center;
    width: 115px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    
}
.task-table-ation-blue{
    background-color: rgba(157, 210, 239, 0.26);
    color: rgba(19, 127, 242, 1);
    border-radius: 50px;
    text-align: center;
    width: 117px;
    height: 27px;
    font-weight: 400;
    font-size: 16px;
    
}
.task-profile-img{
    max-width: 30.86px;
    max-height: 30.86px;
    border-radius: 100%;
    border: 1px solid rgba(222, 222, 222, 1);
}

@media (min-width: 766px) and (max-width: 991px) {
    .task-table {
      overflow-x: scroll;
      width: 430px;
      margin-left: 0;
    }
}
@media (min-width: 992px) and (max-width: 1280px) {
}


